{% extends "base.html" %}
{% load static %}

{% block title %}Squares Pay - Receipt{% endblock %}

{% block content %}

<h1>Pay &ndash; Receipt</h1>

{% if errors %}
<p>Unfortunately, your payment did not go through, for the following reasons:</p>
<ul>
    {%for error in errors%}<li>{{error}}</li>{%endfor%}
</ul>
{% elif reviews %}
<p>Your payment will need manual review before it shows up for gate:</p>
<ul>
    {%for review in reviews%}<li>{{review}}</li>{%endfor%}
</ul>
{% else %}
<p>Thank you for paying!</p>
{% endif %}

<table class='table' style='width:auto'>
    <thead>
        <tr>
            <th>Item</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for line in trn.lineitem_set.all %}
        <tr>
            <td>{{line.label}}</td>
            <td>{{line.amount}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
