{% extends "base.html" %}
{% load static %}

{% block title %}Squares Pay{% endblock %}

{% block content %}

<h1><img src='{%static "style/ts-square-logo.png" %}' height='28px' alt='Squares'>Pay</h1>

<form method="post">
    {% csrf_token %}
    <h2>Basics</h2>
    <table>
    {{ pay_form.as_table }}
    </table>

    <h2>Subscriptions</h2>
    {% include "gate/fragment.sub_price_matrix.html" %}
    {{ sub_formset.management_form }}
    <table class='table table-striped' style='width: auto'>
    {% for form in sub_formset %}
        {% comment %}Borrowed from https://stackoverflow.com/a/65483091{% endcomment %}
        {% if forloop.first %}
            <thead><tr>
            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}
            </tr></thead>
    <tbody>
        {% endif %}
        <tr>
        {% for field in form.visible_fields %}
            <td style='max-width:20em;'>
                {# Include the hidden fields in the form #}
                {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endif %}
                {{ field.errors.as_ul }}
                {{ field }}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {{sub_formset.non_form_errors}}

    <h2>Other</h2>
    {{ product_formset.management_form }}
    <table class='table table-striped' style='width: auto'>
    {% for form in product_formset %}
        {% if forloop.first %}
            <thead><tr>
                <th></th>
                <th>Description</th>
                {% for field in form.visible_fields %}
                <th>{{ field.label|capfirst }}</th>
                {% endfor %}
                <th>Subtotal</th>
            </tr></thead>
    <tbody>
        {% endif %}
        <tr>
            <th>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{form.initial.product.label}}
            </th>
            <td style='max-width: 30em;'>{{form.initial.product.description}}</td>
        {% for field in form.visible_fields %}
            <td>
                {{ field.errors.as_ul }}
                {{ field }}
            </td>
        {% endfor %}
            <td>$placeholder</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {{product_formset.non_form_errors}}

    <button type="submit">Submit</button>
</form>

{% endblock %}
