{% extends "base.html" %}

{% block title %}Books for {{dance.time}}{% endblock %}

{% block content %}

<h1>Books for {{dance.time}}</h1>

<p>If you haven't done jobs before, see the <a href="https://www.mit.edu/~tech-squares/howto/">directions</a>.
You can also <a href='{% url "gate:signin-dance" dance.pk %}'>view gate</a> if you have permissions.</p>

<h2>Contents</h2>
<ul>
    <li><a href='#summary'>Summary</a></li>
    <li><a href='#payments'>Payments</a></li>
    <li><a href='#attendees'>Attendees</a></li>
</ul>

<h2 id='summary'>Summary</h2>
<table class='table table-striped table-bordered' style='width: auto'>
  <thead>
    <tr>
      <th scope='col'>For...</th>
      <th scope='col'>Dancer</th>
      <th scope='col'>Fee category</th>
      <th scope='col'>Mechanism</th>
      <th scope='col'>Number</th>
      <th scope='col'>Amount</th>
    </tr>
  </thead>

  <tbody>
    {% for row in payment_totals %}
    <tr>
      <th>{% if row.dancepayment__for_dance == dance.pk %}This dance
          {% elif row.dancepayment__for_dance %}Dance on {{row.dancepayment__for_dance__time}}
          {% else %}Subscriptions{%endif%}</th>
      <th>{{row.person__status__member|yesno:"Member,Guest"}}</th>
      <th>{{row.person__fee_cat__name}}</th>
      <th>{{row.payment_type__name}}</th>
      <td>{{row.num}}</td>
      <td>${{row.amount}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>Don't forget: Even if some guests are listed above, there may also be more recorded in the guest book.</p>

<h2 id='payments'>Payments</h2>
<table class='table table-striped table-bordered' style='width: auto'>
  <thead>
    <tr>
      <th scope='col'>Name</th>
      <th scope='col'>Fee category</th>
      <th scope='col'>Mechanism</th>
      <th scope='col'>Amount</th>
      <th scope='col'>For</th>
      <th scope='col'>Time</th>
      <th scope='col'>Notes</th>
    </tr>
  </thead>

  <tbody>
{% for payment in payments %}
    <tr>
      <th scope='row'>{{payment.person.name}}</th>
      <td>{{payment.person.fee_cat.name}}</td>
      <td>{{payment.payment_type}}</td>
      <td>${{payment.amount}}</td>
      <td>
        {% if payment.subscriptionpayment.periods %}
          {% for period in payment.subscriptionpayment.periods.all %}
            Sub: {{period}}<br>
          {% empty %}
            No periods?
          {% endfor %}
          </ul>
        {% elif payment.dancepayment.for_dance %}
          {% if payment.dancepayment.for_dance == dance %}
          This dance
          {% else %}
          <strong>For dance: {{payment.dancepayment.for_dance}}</strong>
          {% endif %}
        {% endif %}
      </td>
      <td>{{payment.time}}</td>
      <td style='white-space: pre-line'>{{payment.notes}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<h2 id='attendees'>Attendees</h2>
<table class='table table-striped table-bordered' style='width: auto'>
  <thead>
    <tr>
      <th scope='col'>Name</th>
      <th scope='col'>Fee category</th>
      <th scope='col'>Payment</th>
    </tr>
  </thead>

  <tbody>
{% for attendee in attendees %}
    <tr>
      <th scope='row'>{{attendee.person.name}}</th>
      <td>{{attendee.person.fee_cat.name}}</td>
      <td>{{attendee.payment}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
