{% extends "base.html" %}

{% block title %}Dances{% endblock %}

{% block content %}

<h2>Dances</h2>

<table class='table table-striped table-bordered' style='width: auto'>

  <thead>
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Subscription</th>
      <th scope='col'>Gate</th>
      <th scope='col'>Books</th>
    </tr>
  </thead>

  <tbody>
{% for dance in object_list %}
    <tr>
      <th scope='row'>{{dance.time}}</th>
      <td>{{dance.period}}</td>
      <td><a href='{% url "gate:signin-dance" dance.pk %}'>Gate</a></td>
      <td><a href='{% url "gate:books-dance" dance.pk %}'>Books</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>

<p>If you have suitable privileges, you can add a new <a href='{% url 'gate:new-period' %}'>subscription period</a> or a <a href='{% url 'admin:gate_dance_add' %}'>single dance</a>.</p>

{% endblock %}
