{% extends "base.html" %}

{% block title %}New Subscription Period{% endblock %}

{% block content %}

<h2>New Subscription Period</h2>

<p>For documentation, see the <a href='https://wikis.mit.edu/confluence/display/techsquares/SquaresDB#SquaresDB-NewSubscriptions'>wiki</a>.</p>

{% if new_period %}

<p>Created new subscription period <a href='{% url 'gate:sub-period' new_period.pk%}'>{{new_period}}</a>.</p>
{% else %}

<form id='sub-period-form' action="{% url "gate:new-period"%}" method="post">
    {% csrf_token %}
    <table class='pretty'>
    {{ form.as_table }}
    {% if dance_dates %}
    <tr>
        <th>Dance dates:</th>
        <td>{{dance_dates|length}} dates:<br>
            {% for date in dance_dates %}{{date|date:"D, M j Y"}}<br>{%endfor%}
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>Fee category</th>
        <td>Subscription price: low to high</td>
    </tr>
    {% for price_form in price_formset %}
    <tr>
        <td>{{price_form.fee_cat}}{{ price_form.id }}</td>
        <td>{{price_form.low}} to {{price_form.high}}
            {% if price_form.errors %}<ul class='errorlist'>
                {% for field, errs in price_form.errors.items %}
                    {% for err in errs %}
                    <li>{{field}}: {{err}}</li>
                    {% endfor %}
                {% endfor %}
            </ul>{% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Create">
    {{ price_formset.management_form }}
</form>

<script>
var name_changed = false;
function update_name() {
    console.log("running update_name name_changed=" + name_changed);
    if (name_changed) return;
    var form = $(event.target)[0].form;
    console.log(form.elements['start_date'].value);
    var begin = form.elements['start_date'].valueAsDate;
    var end = form.elements['end_date'].valueAsDate;
    var mid = (begin.getTime()+end.getTime())/2;
    var year = new Date(mid).getFullYear();
    var season = form.elements['season'].value;
    var seasonCap = season[0].toUpperCase() + season.substring(1);
    form.elements['name'].value = seasonCap + " " + year;
    form.elements['slug'].value = year + "-" + season;
}
jQuery('#id_start_date, #id_end_date, #id_season').change(update_name);
</script>
{%endif%}

{% endblock %}
