{% extends "base.html" %}

{% block title %}Signin for {{period.name}}{% endblock %}

{% block content %}

<h2>Squares Signin for {{period.name}}</h2>

<p>Accepting signins for {{people|length}} people, including {{subscribers|length}} subscribers.</p>

<div class="alert alert-success" role="alert">
    <strong>Alex Dehnert</strong> has been marked as present (no payment needed).
    <button type="button" class="btn btn-dark btn-sm">Undo</button>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-secondary" role="alert">
    <strong>Britt Huhmann</strong> has been marked as present and paid $5.
    <button type="button" class="btn btn-dark btn-sm">Undo</button>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-warning" role="alert">
    <strong>Britt Huhmann</strong> has been marked as present, but not paid.
    <button type="button" class="btn btn-dark btn-sm">Undo</button>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-success" role="alert">
    <strong>Helen Read</strong> has been marked as present (no payment needed).
    <button type="button" class="btn btn-dark btn-sm">Undo</button>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form class="form-inline">
  <div class='form-group'>
    <label for='signinFilter'>Filter:&nbsp;</label>
    <input class="form-control mr-sm-2" type="search" id='signinFilter' placeholder="Name" aria-label="Filter">
  </div>
</form>

<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subscriptionModalLabel">Buy Subscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="person-name" class="col-form-label">Purchaser:</label>
            <input type="text" class="form-control-plaintext" id="person-name" readonly>
          </div>
          <input type="hidden" id="person-id">
          <fieldset class="form-group">
              <legend class="col-form-label">Subscription period:</legend>
              {% for period in subscription_periods %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="subscriptionPeriod" id="subscriptionPeriod{{period.slug}}" value="{{period.slug}}" checkbox>
                  <label class="form-check-label" for="subscriptionPeriod{{period.slug}}">
                    {{period.name}}
                  </label>
                </div>
              {% endfor %}
          </fieldset>
          <div class="form-group">
            <label for="payment-amount" class="col-form-label">Payment amount:</label>
            <input class="form-control" id="payment-amount"></textarea>
          </div>
          <fieldset class="form-group">
              <legend class="col-form-label">Payment method:</legend>
              {% for method in payment_methods %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethod{{method.slug}}" value="{{method.slug}}">
                  <label class="form-check-label" for="paymentMethod{{method.slug}}">
                    {{method.name}}
                  </label>
                </div>
              {% endfor %}
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Buy</button>
      </div>
    </div>
  </div>
</div>
<script>
$('#subscriptionModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var dropdown = button.parent().parent()
  var person_id = dropdown.data('id') // Extract info from data-* attributes
  var person_name = dropdown.data('name') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('.modal-title').text('New subscription for ' + person_name)
  modal.find('.modal-body input#person-id').val(person_id)
  modal.find('.modal-body input#person-name').val(person_name)
})
</script>

<div class="modal fade" id="danceModal" tabindex="-1" role="dialog" aria-labelledby="danceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="danceModalLabel">Dance payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="person-name" class="col-form-label">Purchaser:</label>
            <input type="text" class="form-control-plaintext" id="person-name" readonly>
          </div>
          <input type="hidden" id="person-id">
          <div class="form-group">
            <label for="payment-amount" class="col-form-label">Payment amount:</label>
            <input class="form-control" id="payment-amount"></textarea>
          </div>
          <fieldset class="form-group">
              <legend class="col-form-label">Payment method:</legend>
              {% for method in payment_methods %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethod{{method.slug}}" value="{{method.slug}}">
                  <label class="form-check-label" for="paymentMethod{{method.slug}}">
                    {{method.name}}
                  </label>
                </div>
              {% endfor %}
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Buy</button>
      </div>
    </div>
  </div>
</div>
<script>
$('#danceModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var dropdown = button.parent().parent()
  var person_id = dropdown.data('id') // Extract info from data-* attributes
  var person_name = dropdown.data('name') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('.modal-title').text('New payment for ' + person_name)
  modal.find('.modal-body input#person-id').val(person_id)
  modal.find('.modal-body input#person-name').val(person_name)
})
</script>

<div style='line-height: 3'>
{% for person in people %}

  <!-- TODO: better way to decide which button to show -->
  {% if person.fee_cat.slug == "mit-student" or person in subscribers %}
    <button type="button" class="btn btn-success" data-name="{{person.name}}" data-id="{{person.id}}">{{person.name}} ({{person.signin_label}})</button>
  {% else %}
    <span class='dropdown' data-name="{{person.name}}" data-id="{{person.id}}">
        <button type="button" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{person.name}} ({{person.signin_label}})</button>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Paid ${{person.fee_cat.price}} cash</a>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#subscriptionModal" data-id="{{person.id}}">Bought subscription</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#danceModal" data-id="{{person.id}}">Paid other amount or mechanism</button>
            <a class="dropdown-item" href="#">Present but didn't pay</a>
        </div>
    </span>
  {% endif %}
{% endfor %}
</div>

{% endblock %}
