{% extends "base.html" %}

{% block title %}Signin for {{dance.time}}{% endblock %}

{% block content %}

<h1>Squares Signin for {{dance.time}}</h1>

<p>Accepting signins for {{people|length}} people, including {{subscribers|length}} subscribers for {{period.name}}.</p>

<p>If you haven't done jobs before, see the <a href="https://www.mit.edu/~tech-squares/howto/">directions</a>.
You can also <a href='{% url "gate:books-dance" dance.pk %}'>view books</a> if you have permissions.</p>

<!-- I kinda prefer this floated on a laptop, but on a tablet I suspect we lack the space, plus the attendance alerts seem to cover it -->
<!--<div class="float-lg-right">-->
<div>
<h2>Prices</h2>
<table class='table table-striped table-bordered' style='width: auto'>
  <thead>
    <tr>
      <th scope='col'>For...</th>
      <th scope='col'>Dance</th>
      {% for period in subscription_periods %}
      <th scope='col'>{{period.name}}</th>{% endfor %}
    </tr>
  </thead>

  <tbody>
{% for slug, row in price_matrix.items %}
    <tr>
      <th scope='row'>{{row.cat_name|capfirst}}</th>
      {% for col in row.prices.values %}
      <td>{{col.2}}</td>{% endfor %}
    </tr>
{% endfor %}
  </tbody>
</table>
{{price_matrix|json_script:"price_matrix"}}
</div>

{% if not price_matrix.items %}
<div class="alert alert-danger" role="alert">
    <p>Prices have not been input into SquaresDB, and some functionality will not work correctly. Please reach out to <a href="mailto:squares-db-request@mit.edu">a DB admin or officer</a> to get this fixed.</p>
</div>
{% endif %}

<p>People in <strong>green</strong> don't need to pay &ndash; they're current students (&#x1F393;) or have a subscription (&#x1F39F;), and clicking on them will immediately mark them present. (If you need to sell them a subscription, or mark them as paid for some reason, use the grey dropdown on the right side of their button.)
People in <strong>gray</strong>, with a down arrow next to them, do need to pay &ndash; clicking them will allow marking them as present or paid, as well as displaying their fee category (MIT student, student/financial aid, or full &ndash; see the corresponding prices in the table above, or the menu will show for each person)
People in <strong>blue</strong>, with a strikethrough, have already been marked as present and have already paid. In general, you shouldn't need to do anything with them. (If you do, the buttons work just like the green or gray buttons do.)
People in <strong>yellow</strong>, with an underline, have been marked as present but not having paid. Ideally they should be asked to pay -- the buttons work just like gray buttons.</p>

<p>This page does not (currently) support paying for guests, or anything except attending dances (badges, t-shirts, etc.). Please continue to record those in the guest book and gate sheet, as before.</p>

<h2>Attendance</h2>

<!-- TODO:
     - Table of contents
     - Jump to top links
-->

<script>
  var dance_id = {{dance.pk}};

  // Alert types:
  // Primary: one-off payments (cash, other)
  // Secondary: subscription
  // Success: no payment (expected)
  // Warning: no payment (unexpected), not present
  function addPaymentMessage(type, name, message) {
    var html = `
      <div class="payment-message alert alert-${type}" role="alert">
          <strong>${name}</strong> <span class='verb'>is being</span> marked as ${message}.
          <!--<button type="button" class="btn btn-dark btn-sm">Undo</button>-->
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	  </button>
      </div>
    `;
    var new_list = jQuery('#paymentMessages').append(html);
    console.log("addPaymentMessage", new_list);
    return new_list.find('div.payment-message').last();
  }

  function addPaymentTableRow(data, name, what) {
    var present = data['present'] ? '&#x2705'  // white heavy check mark
                                  : '&#x274c'; // cross mark
    var paid_method = data['paid_method'] ? data['paid_method'] : '-';
    var paid_amount = data['paid_amount'] ? '$' + data['paid_amount'] : '-';
    var html = `
      <tr class="payment-message">
        <td class='payment-table-ajax-status'><span class='desc' title='submitting now'>&#x26A0;&#xFE0F;</span></td>
        <th class='name'>${name}</th>
        <td>${present}</td>
        <td>${what}</td>
        <td>${paid_method}</td>
        <td>${paid_amount}</td>
        <td class='undo-box'>
          Wait...
          <!--
	  <button type="button" class="btn btn-dark btn-sm">Undo</button>
          -->
        </td>
      </tr>
    `;
    var new_list = jQuery('#paymentTable tbody').append(html);
    var toast_msg = data['present'] ? 'present' : 'not present';
    toast_msg += ', paid ';
    toast_msg += data['paid_amount'] ? '$' + data['paid_amount'] : 'nothing';
    addToast(name, toast_msg);
    return new_list.find('tr.payment-message').last();
  }

  function addToast(title, body) {
    // TODO: *Add*, don't just modify the one toast
    // TODO: Better label for undo toast (eg, person name) and maybe failures
    var toast = jQuery('.toast');
    toast.data('delay', 5000);
    toast.find('strong').text(title);
    toast.find('.toast-body').text(body);
    toast.toast('show')
  }
</script>

<!-- Toasts: ephemeral notifications of checkins -->
<div style="position: fixed; top: 0; right: 0; z-index: 100">

  <!-- Then put toasts within -->
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="mr-auto"></strong>
      <small class="text-muted"></small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
    </div>
  </div>

</div>

<div id='paymentMessages'>
</div>

<table id='paymentTable' class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th scope='col'></th>
      <th scope='col'>Dancer</th>
      <th scope='col'>Present</th>
      <th scope='col'>Payment for</th>
      <th scope='col'>Payment method</th>
      <th scope='col'>Amount</th>
      <th scope='col'>Undo</th>
    </tr>
  <thead>
  <tbody>
  </tbody>
</table>

<form class="form-inline">
  <div class='form-group'>
    <label for='signinFilter'>Filter:&nbsp;</label>
    <input class="form-control mr-sm-2" type="search" id='signinFilter' placeholder="Name" aria-label="Filter">
  </div>
</form>

{% csrf_token %}
<script type="text/javascript">
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

var emojiSuccess = "&#x2705;";
var emojiFail = "&#x274c;";
var ajaxSuccessTableCell = "<span class='desc' title='successfully submitted'>&#x2705;</span>";
var undoButtonBase = "<button type='button' class='btn btn-dark btn-sm'>Undo</button>";
var ajaxFailTableCell = "<span class='desc' title='failed to submit'>&#x274c;</span>";
var ajaxFailRowTmpl = '<div class="alert alert-danger" role="alert"><p> ' +
    '<span class="error-type">Error</span>: <span class="server-error"></span></p></div>';

function makePaymentAJAX(data, msg) {
  console.log("makePaymentAJAX", data, msg);
  args = {
    url: '{% url "gate:signin-api" %}',
    data: data,
    success: function(event) {
        console.log("got reply"); console.log(event);
        msg.find(".verb").text("has been");
        row.find("td.payment-table-ajax-status span.desc").replaceWith(ajaxSuccessTableCell);
        //var status_cell = row.find("td.payment-table-ajax-status span.desc");
        //status_cell.attr("title", "successfully submitted");
        //status_cell.innerHTML = emojiSuccess; // innerHTML not real
        row.find("td.undo-box").replaceWith("<td class='undo-box'>"+undoButtonBase+"</td>");
        row.find("td.undo-box button").data("attendee", event.attendee);
        row.find("td.undo-box button").data("payment", event.payment);
        row.find("td.undo-box button").on("click", handleUndoEvent);
    },
    beforeSend: function(xhr, settings) {
	if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	    xhr.setRequestHeader("X-CSRFToken", csrftoken);
	}
    }
  }
  fail_cb = function(jqXHR, textStatus, errorThrown) {
    console.log("makePaymentAJAX failed");
    var content_type = jqXHR.getResponseHeader("content-type");
    console.log(jqXHR, content_type);
    var error_type, error;
    if (content_type == "application/json") {
      error_type = "Server said";
      error = jqXHR.responseJSON['msg'];
    } else {
      error_type = "Unexpected response type";
      error = content_type;
    }
    console.log("Got error: " + error);
    // We fill in the message later to avoid XSS
    var tmpl = "<p><span class='error-type'>Error</span>: <span class='server-error'></span></p>";

    // Alert style
    msg.find(".verb").replaceWith("<span class='verb'>failed to be</span>");
    msg.filter(".alert").attr("class", "alert alert-danger");
    var msg_alert = msg.filter(".alert").append(tmpl);
    msg_alert.find("span.error-type").text(error_type);
    msg_alert.find("span.server-error").text(error);

    // Table style
    row.find("td.payment-table-ajax-status span.desc").replaceWith(ajaxFailTableCell);
    row.find("td.undo-box").text("(failed)");
    var alert_box = row.find("th.name").append(ajaxFailRowTmpl);
    alert_box.find("span.error-type").text(error_type);
    alert_box.find("span.server-error").text(error);

    // Toast
    addToast("Failed to submit", "Submission to server failed - see table for details.")
  };
  jQuery.post(args).fail(fail_cb);
}

function handleUndoEvent(event) {
  console.log("handleUndoEvent"); console.log(event);
  var target = jQuery(event.target);
  var ajax_data = {
    'payment':target.data('payment'),
    'attendee':target.data('attendee'),
  }
  args = {
    url: '{% url "gate:signin-api-undo" %}',
    data: ajax_data,
    success: function(event) {
        console.log("got reply"); console.log(event);
        target.replaceWith("undone");
        addToast("Undo complete", "Undo attempt succeeded!");
    },
    beforeSend: function(xhr, settings) {
	if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	    xhr.setRequestHeader("X-CSRFToken", csrftoken);
	}
    }
  }
  fail_cb = function(jqXHR, textStatus, errorThrown) {
    console.log("handleUndoEvent failed");
    var content_type = jqXHR.getResponseHeader("content-type");
    console.log(jqXHR, content_type);
    var error_type, error;
    if (content_type == "application/json") {
      error_type = "Server said";
      error = jqXHR.responseJSON['msg'];
    } else {
      error_type = "Unexpected response type";
      error = content_type;
    }
    console.log("Got error: " + error);
    target.replaceWith("<strong>failed!</strong>");
    addToast("Undo failed!", "Undo attempt failed - see table for details");
  };
  jQuery.post(args).fail(fail_cb);
}

function removeClassIfPresent(button, cls) {
  var ret = button.hasClass(cls);
  button.removeClass(cls);
  return ret;
}

function markButtonPresent(button, paid=true) {
  jbutton = jQuery(button);
  console.log("markButtonPresent", button, jbutton);
  // TODO: Track this with JS datastructures, not CSS classes...
  // Notably, "paid for single dance" but not present is grey,
  // so marking present should turn it blue, but will actually
  // turn it warning
  var already_paid = false;
  already_paid |= removeClassIfPresent(jbutton, 'btn-success'); // student/subscriber
  already_paid |= removeClassIfPresent(jbutton, 'btn-primary'); // present+paid
  jbutton.removeClass('btn-secondary');                         // not yet paid
  jbutton.removeClass('btn-warning');                           // present but not paid
  var new_class = (already_paid || paid) ? 'btn-primary' : 'btn-warning';
  console.log("markButtonPresent", already_paid, paid, new_class);
  jbutton.addClass(new_class);
}

function processCashPayment(button, amount) {
  var dropdown = jQuery(button).parent().parent()
  var person_name = dropdown.data('name') // Extract info from data-* attributes
  var person_id = dropdown.data('id') // Extract info from data-* attributes
  var ajax_data = {
    'person': person_id,
    'dance': dance_id,
    'present': true,
    'paid': true,
    'paid_amount': amount,
    'paid_method': 'cash',
    'paid_for': 'dance',
  };
  var message = 'present and paid $' + amount;
  msg = addPaymentMessage('primary', person_name, message);
  row = addPaymentTableRow(ajax_data, person_name, 'This dance');
  markButtonPresent(dropdown.find('button:first'));
  makePaymentAJAX(ajax_data, msg, row);
}

function markPresentOnlyExpected(button) {
  var btn_group = jQuery(button).parent()
  var person_name = jQuery(btn_group).data('name') // Extract info from data-* attributes
  var person_id = jQuery(btn_group).data('id') // Extract info from data-* attributes
  var ajax_data = {
    'person': person_id,
    'dance': dance_id,
    'present': true,
    'paid': false,
  };
  var message = 'present (no payment needed)';
  msg = addPaymentMessage('success', person_name, message);
  row = addPaymentTableRow(ajax_data, person_name, '-');
  markButtonPresent(button);
  makePaymentAJAX(ajax_data, msg, row);
}

function markPresentOnlyUnexpected(button) {
  var dropdown = jQuery(button).parent().parent()
  var person_name = dropdown.data('name') // Extract info from data-* attributes
  var person_id = dropdown.data('id') // Extract info from data-* attributes
  var ajax_data = {
    'person': person_id,
    'dance': dance_id,
    'present': true,
    'paid': false,
  };
  var message = 'present and but not paid';
  msg = addPaymentMessage('warning', person_name, message);
  row = addPaymentTableRow(ajax_data, person_name, '<strong>(none, no subscription)</strong>');
  markButtonPresent(dropdown.find('button:first'), false);
  makePaymentAJAX(ajax_data, msg, row);
}
</script>

<script>
function signinFilter(element) {
    var $people = $('#signinList > span').add('#signinList > button').hide();
    var regexp = new RegExp($(element).val(), 'i');

    var $valid = $people.filter(function () {
        return regexp.test($(this).data('name'))
    }).show();

    $people.not($valid).hide()
}

$('#signinFilter').on('keyup change', function () {
    signinFilter(this);
})
</script>

<!-- Begin subscription handling -->
<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subscriptionModalLabel">Buy Subscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="subscriptionForm">
          <div class="form-group">
            <label for="person-name" class="col-form-label">Dancer:</label>
            <input type="text" class="form-control-plaintext" id="person-name" readonly>
          </div>
          <input type="hidden" id="person-id">
          <fieldset class="form-group">
              <legend class="col-form-label">Subscription period:</legend>
              {% for period in subscription_periods %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="subscriptionPeriod" id="subscriptionPeriod{{period.slug}}" value="{{period.slug}}" checkbox>
                  <label class="form-check-label" for="subscriptionPeriod{{period.slug}}">
		    {{period.name}}<span class='subPeriodPrices' id='subPeriodPrice-{{period.slug}}'></span>
                  </label>
                </div>
              {% endfor %}
          </fieldset>
          <div class="form-group">
            <label for="payment-amount" class="col-form-label">Payment amount:</label>
            <input class="form-control" type="number" id="payment-amount">
          </div>
          <fieldset class="form-group">
              <legend class="col-form-label">Payment method:</legend>
              {% for method in payment_methods %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethodSub-{{method.slug}}" value="{{method.slug}}">
                  <label class="form-check-label" for="paymentMethodSub-{{method.slug}}">
                    {{method.name}}
                  </label>
                </div>
              {% endfor %}
          </fieldset>
          <fieldset class="form-group">
              <legend class="col-form-label">Present:</legend>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="isPresent" id="isPresentSub" value="true" checked>
                <label class="form-check-label" for="isPresentSub">
                  Attended this dance
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="isPresent" id="isPresentSubFalse" value="false">
                <label class="form-check-label" for="isPresentSubFalse">
                  Did not attend (somebody else paid for them, or they stopped by briefly to pay but did not stay)
                </label>
              </div>
          </fieldset>
          <div class="form-group">
            <label for="notes" class="col-form-label">Notes:</label>
            <textarea class="form-control" id="notes"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" form='subscriptionForm'>Buy</button>
      </div>
    </div>
  </div>
</div>
<script>

$('#subscriptionModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var dropdown = button.parent().parent()
  var person_id = dropdown.data('id') // Extract info from data-* attributes
  var person_name = dropdown.data('name') // Extract info from data-* attributes
  var fee_cat = dropdown.data('fee-cat') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('.modal-title').text('New subscription for ' + person_name)
  modal.find('.modal-body input#person-id').val(person_id)
  modal.find('.modal-body input#person-name').val(person_name)
  modal.find('.modal-body input#isPresentSub').prop("checked", true)
  modal.find('.modal-body textarea#notes').val('')

  var price_matrix = JSON.parse(document.getElementById('price_matrix').textContent);
  var our_prices = price_matrix[fee_cat]['prices'];
  modal.find('.subPeriodPrices').text('')
  for (slug in our_prices) {
    if (slug == 'dance') continue;
    if (our_prices[slug] == null) continue;
    modal.find('#subPeriodPrice-'+slug).text(" ("+our_prices[slug][2]+")");
  }
})

$('#subscriptionForm').on('submit', function (event) {
  event.preventDefault();
  var form = $(event.target)[0];
  periods = [];
  console.log(form.elements['subscriptionPeriod']);
  var present = false;
  var covers_today = false;
  for (i = 0; i < form.elements.length; i++) {
    var radio = form.elements[i];
    if (radio.name == "subscriptionPeriod" && radio.checked) {
      periods.push(radio.value);
      if (radio.value == period.pk) covers_today = true;
    }
    if (radio.name == "isPresent" && radio.checked && radio.value == "true") {
      present = true;
    }
  }
  var person_id = form.elements['person-id'].value;
  var person_name = form.elements['person-name'].value;
  var paid_amount = form.elements['payment-amount'].value;
  var notes = form.elements['notes'].value;
  var ajax_data = {
    'person':person_id,
    'dance': dance_id,
    'present': present,
    'paid': true,
    'paid_amount': paid_amount,
    'paid_method': form.elements['paymentMethod'].value,
    'paid_for': 'sub',
    'paid_period': periods,
    'notes': notes,
  };
  var message = 'present and bought a subscription for $' + paid_amount;
  var alert_class = 'secondary';
  if (!present) {
    message = 'bought a subscription for $' + paid_amount + ' (but not marked present)';
    alert_class = 'warning';
  }
  msg = addPaymentMessage(alert_class, person_name, message);
  row = addPaymentTableRow(ajax_data, person_name, "Subscription");
  if (present) {
    var selector = '.sqdb-person-btn[data-id='+person_id+'] > button:first';
    var button = jQuery(selector);
    console.log("subscriptionForm markButtonPresent", selector, button, covers_today);
    markButtonPresent(button, covers_today);
  }
  makePaymentAJAX(ajax_data, msg, row);
  jQuery('#subscriptionModal').modal('hide');
})
</script>
<!-- END subscription handling -->

<!-- BEGIN dance payment handling -->
<div class="modal fade" id="danceModal" tabindex="-1" role="dialog" aria-labelledby="danceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="danceModalLabel">Dance payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="danceForm">
          <div class="form-group">
            <label for="person-name" class="col-form-label">Dancer:</label>
            <input type="text" class="form-control-plaintext" id="person-name" readonly>
          </div>
          <input type="hidden" id="person-id">
          <div class="form-group">
            <label for="payment-amount" class="col-form-label">Payment amount:</label>
            <input class="form-control" type="number" id="payment-amount">
          </div>
          <fieldset class="form-group">
              <legend class="col-form-label">Payment method:</legend>
              {% for method in payment_methods %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethodDance-{{method.slug}}" value="{{method.slug}}">
                  <label class="form-check-label" for="paymentMethodDance-{{method.slug}}">
                    {{method.name}}
                  </label>
                </div>
              {% endfor %}
          </fieldset>
          <div class="form-group">
            <label for="for-dance" class="col-form-label">Paid for dance:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="for-dance" id="forDanceThis" value="this">
              <label class="form-check-label" for="forDanceThis">
                This dance ({{dance.time}})
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="for-dance" id="forDanceFutureCheck" value="future">
              <label class="form-check-label" for="forDanceFutureCheck">
                Future:
                <select class="custom-select" id="forDanceFutureSel">
                  <option value="none" selected>Open this select menu</option>
                  {% for dance in future_dances %}
                  <option value="{{dance.pk}}">{{dance.time}}</option>
                  {% endfor %}
                </select>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="for-dance" id="forDancePastCheck" value="past">
              <label class="form-check-label" for="forDancePastCheck">
                Past:
                <select class="custom-select" id="forDancePastSel">
                  <option value="none" selected>Open this select menu</option>
                  {% for dance in past_dances %}
                  <option value="{{dance.pk}}">{{dance.time}}</option>
                  {% endfor %}
                </select>
              </label>
            </div>
          </div>
          <fieldset class="form-group">
              <legend class="col-form-label">Present:</legend>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="isPresent" id="isPresentDance" value="true" checked>
                <label class="form-check-label" for="isPresentDance">
                  Attended this dance ({{dance.time}})
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="isPresent" id="isPresentDanceFalse" value="false">
                <label class="form-check-label" for="isPresentDanceFalse">
                  Did not attend (somebody else paid for them, or they stopped by briefly to pay but did not stay)
                </label>
              </div>
          </fieldset>
          <div class="form-group">
            <label for="notes" class="col-form-label">Notes:</label>
            <textarea class="form-control" id="notes"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" form="danceForm">Buy</button>
      </div>
    </div>
  </div>
</div>
<script>

$('#danceModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var dropdown = button.parent().parent()
  var person_id = dropdown.data('id') // Extract info from data-* attributes
  var person_name = dropdown.data('name') // Extract info from data-* attributes
  var payment_amount = dropdown.data('price-high') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('.modal-title').text('New payment for ' + person_name)
  modal.find('.modal-body input#person-id').val(person_id)
  modal.find('.modal-body input#person-name').val(person_name)
  modal.find('.modal-body input#payment-amount').val(payment_amount)
  modal.find('.modal-body input#forDanceThis').prop("checked", true)
  modal.find('.modal-body input#forDanceFutureSel').val("none")
  modal.find('.modal-body input#forDancePastSel').val("none")
  modal.find('.modal-body input#isPresentDance').prop("checked", true)
  modal.find('.modal-body textarea#notes').val('')
})

$('#danceForm').on('submit', function (event) {
  event.preventDefault();
  var form = $(event.target)[0];
  var person_id = form.elements['person-id'].value;
  var person_name = form.elements['person-name'].value;
  var paid_amount = form.elements['payment-amount'].value;
  var present = false;
  for (i = 0; i < form.elements.length; i++) {
    var radio = form.elements[i];
    if (radio.name == "isPresent" && radio.checked && radio.value == "true") {
      present = true;
    }
  }
  var notes = form.elements['notes'].value;
  var ajax_data = {
    'person':person_id,
    'dance': dance_id,
    'present': present,
    'paid': true,
    'paid_amount': paid_amount,
    'paid_method': form.elements['paymentMethod'].value,
    'paid_for': 'dance',
    'notes': notes,
  };
  var alert_class = 'primary';
  var for_dance_type = form.elements['for-dance'].value;
  if (for_dance_type == "this") {
    for_dance_text = "This dance";
    var message = 'present and paid $' + paid_amount;
    if (!present) {
      message = 'paid $' + paid_amount + ' (but not marked present)';
      alert_class = 'warning';
    }
  } else {
    var for_dance_id = 0;
    var for_dance_name = "";
    if (for_dance_type == "future") {
      for_dance_id = form.elements['forDanceFutureSel'].value;
      for_dance_text = jQuery("#forDanceFutureSel option:selected").text()
    } else if (for_dance_type == "past") {
      for_dance_id = form.elements['forDancePastSel'].value;
      for_dance_text = jQuery("#forDancePastSel option:selected").text()
    } else {
      alert("Payment for unknown dance type");
      return false;
    }
    ajax_data['for_dance'] = for_dance_id;
    var message = 'paid $' + paid_amount + ' for dance ' + for_dance_text;
    if (present) {
      message += ' (and marked present for this dance)';
    } else {
      message += ' (but not marked present)';
      alert_class = 'warning';
    }
  }
  msg = addPaymentMessage(alert_class, person_name, message);
  row = addPaymentTableRow(ajax_data, person_name, for_dance_text);
  if (present) {
    var selector = '.sqdb-person-btn[data-id='+person_id+'] > button:first';
    var button = jQuery(selector);
    console.log("danceForm markButtonPresent", selector, button);
    markButtonPresent(button, for_dance_type == "this");
  }
  makePaymentAJAX(ajax_data, msg, row);
  jQuery('#danceModal').modal('hide');
})
</script>
<!-- END dance payment handling -->

<div style='line-height: 3' id='signinList'>

    {% comment %}
    <h3>Early subscription prototypes</h3>

    <p>Checkbox controls whether a single click immediately marks present, or pulls up a dropdown.</p>

    <form>
        <input type='checkbox' name='dropdownAlways' id='dropdownAlways' onchange='changeDropdownAlways(this, event)'>
        <label for='dropdownAlways'>Always show dropdown</label>
    </form>
    <script>
        function handleGreenEvent(event) {
            var checkbox = jQuery("#dropdownAlways")[0]
            var checked = checkbox.checked;
            var jTarget = jQuery(event.target)
            console.log("Button pressed, event", event, checkbox, checked, jTarget);
            if (checked) {
            } else {
              var span = jTarget.parent();
              console.log(span);
              markPresentOnlyExpected(span);
              event.stopPropagation();
            }
        }

        function changeDropdownAlways(checkbox, event) {
          var spans = jQuery("#signinListProto .togglable-dropdown button")
          var buttons = jQuery("#signinListProto .togglable-dropdown button")
          buttons.off("click");
          buttons.on("click", handleGreenEvent);
          if (checkbox.checked) {
              console.log("enabling dropdowns");
            buttons.addClass("dropdown-toggle");
          } else {
            console.log("disabling dropdowns");
            buttons.removeClass("dropdown-toggle");
          }
        }

        jQuery(window).on("load", function() {
            var checkbox = jQuery("#dropdownAlways");
            changeDropdownAlways(checkbox)
        });
    </script>
    <div id='signinListProto'>
    <div class='btn-group' data-name="Joseph Smith" data-id="861" data-price-high="5" data-fee-cat="full">
        <span class='togglable-dropdown' data-name="Joseph Smith" data-id="861" data-toggle="dropdown"><button type="button" class="btn btn-success dropdown-toggle">Joseph Smith
          &#x1F393;<span class='sr-only'>(MIT student)</span>
        </button></span>

        <div class="dropdown-menu">
            <span class='dropdown-item disabled'>Fee category: MIT student</span>
            <button class="dropdown-item" onclick="markPresentOnlyUnexpected(this)">Present (no payment needed)</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#subscriptionModal" data-id="861">Bought subscription</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#danceModal" data-id="861">Paid other amount or mechanism</button>
        </div>
    </div>
    </div>

    <p>More prototypes: first and second split button -- left part marks present, right part shows dropdown. Last uses longpress/right click for dropdown, and regular marks present immediately.</p>

    <div class='btn-group' data-name="John Lincoln" data-id="861" data-price-high="5" data-fee-cat="full">
        <button type="button" class="btn btn-success" data-name="John Lincoln" data-id="861" onclick="markPresentOnlyExpected(this)">John Lincoln
        </button>
        <button type="button" class="btn btn-secondary dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          &#x1F39F;<span class='sr-only'>(subscription)</span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>

        <div class="dropdown-menu">
            <span class='dropdown-item disabled'>Fee category: full</span>
            <button class="dropdown-item" onclick="markPresentOnlyUnexpected(this)">Present (no payment needed)</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#subscriptionModal" data-id="861">Bought subscription</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#danceModal" data-id="861">Paid other amount or mechanism</button>
        </div>
    </div>

    <div class='btn-group' data-name="Jenny Smith" data-id="861" data-price-high="5" data-fee-cat="full">
        <button type="button" class="btn btn-success" data-name="Jenny Smith" data-id="861" onclick="markPresentOnlyExpected(this)">Jenny Smith
          &#x1F393;<span class='sr-only'>(MIT student)</span>
        </button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>

        <div class="dropdown-menu">
            <span class='dropdown-item disabled'>Fee category: MIT student</span>
            <button class="dropdown-item" onclick="markPresentOnlyUnexpected(this)">Present (no payment needed)</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#subscriptionModal" data-id="861">Bought subscription</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#danceModal" data-id="861">Paid other amount or mechanism</button>
        </div>
    </div>

    <script type="text/javascript">
function dropdownToggleSub(button, event) {
  var trigger = jQuery(button).parent().find('.invisible-dropdown-toggle');
  console.log("dropdown trigger", trigger, event);
  event.preventDefault();
  trigger.dropdown("toggle");
  return false;
}
    </script>

    <div class='btn-group' data-name="Alan Jones" data-id="861" data-price-high="5" data-fee-cat="full">
        <button type="button" class="btn btn-success" data-name="Alan Jones" data-id="861" onclick="markPresentOnlyExpected(this)" oncontextmenu="dropdownToggleSub(this, event)">Alan Jones
          &#x1F393;<span class='sr-only'>(MIT student)</span>
        </button>
        <span class="sr-only invisible-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Toggle Dropdown</span>

        <div class="dropdown-menu">
            <span class='dropdown-item disabled'>Fee category: full</span>
            <button class="dropdown-item" onclick="markPresentOnlyUnexpected(this)">Present (no payment needed)</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#subscriptionModal" data-id="861">Bought subscription</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#danceModal" data-id="861">Paid other amount or mechanism</button>
        </div>
    </div>

    {% endcomment %}

{% for person in people %}
  {% ifchanged person.frequency %}
  <h3>Attends: {{person.frequency.name|capfirst}}</h3>
  {% endifchanged %}{% comment %}
  TODO: better way to decide which button to show
  {% endcomment %}{% with dance_price=person.prices.dance.1 %}
  {% if person.fee_cat.slug == "mit-student" or person.pk in subscribers %}
    <div class='btn-group sqdb-person-btn' data-name="{{person.name}}" data-id="{{person.id}}" data-price-high="{{dance_price}}" data-fee-cat="{{person.fee_cat.slug}}">
        <button type="button" class="btn {{person.button_class|default:"btn-success"}}" onclick="markPresentOnlyExpected(this)">{{person.name}}
          {% if person.fee_cat.slug == "mit-student" %}&#x1F393;<span class='sr-only'>(MIT student)</span>{%endif%}
          {% if person.pk in subscribers %}&#x1F39F;<span class='sr-only'>(subscriber)</span>{%endif%}
        </button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>

        <div class="dropdown-menu">
            <span class='dropdown-item disabled'>Fee category: {{person.fee_cat.name}}</span>
	    <button class="dropdown-item" onclick="processCashPayment(this, {{dance_price}})">Paid ${{dance_price}} cash</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#subscriptionModal" data-id="{{person.id}}">Bought subscription</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#danceModal" data-id="{{person.id}}">Paid other amount or mechanism</button>
        </div>
    </div>
  {% else %}
    <span class='dropdown sqdb-person-btn' data-name="{{person.name}}" data-id="{{person.id}}" data-price-high="{{dance_price}}" data-fee-cat="{{person.fee_cat.slug}}">
        <button type="button" class="btn {{person.button_class|default:"btn-secondary"}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{person.name}}</button>

        <div class="dropdown-menu">
            <span class='dropdown-item disabled'>Fee category: {{person.fee_cat.name}}</span>
	    <button class="dropdown-item" onclick="processCashPayment(this, {{dance_price}})">Paid ${{dance_price}} cash</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#subscriptionModal" data-id="{{person.id}}">Bought subscription</button>
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#danceModal" data-id="{{person.id}}">Paid other amount or mechanism</button>
            <button class="dropdown-item" onclick="markPresentOnlyUnexpected(this)">Present but didn't pay</button>
        </div>
    </span>
  {% endif %}{% endwith %}{% endfor %}
</div>

{% endblock %}
