{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <!-- jquery from CDN
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    -->
    <!-- jquery from Django admin, for dev without internet
         At this writing, seems to be jquery-3.5.1, so actually newer
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    -->
    <!-- Bootstrap from django-bootstrap-static package -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}"/>
    <!--
    <link rel="stylesheet" type="text/css" href="{% static "style/default.css" %}" />
    -->
    <style>
      #content { margin: 1em; }

      table.pretty-table
      {
        border-collapse: collapse;
      }
      table.pretty th, table.pretty td
      {
        border: 1px solid black;
        padding: 0.2em;
      }
      table.pretty th { background-color: #A31F34; }

      span[title] { text-decoration: underline dotted; }
    </style>

    {% block head %}
    {% endblock %}

    <title>{% block title %}TITLE{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills">
          <li class="nav-brand">
              <a class="nav-link{% if pagename == "homepage"%} active{%endif%}" href="{% url "homepage" %}"><img src='{%static "style/ts-square-logo.png" %}' height='28px' alt='Squares'> DB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if pagename == "person-edit"%}active{%else%}{%if user.is_anonymous%}disabled{%endif%}{%endif%}" href="{%url "membership:person-user-edit"%}">Edit entry</a>
          </li>
        {% if perms.membership.bulk_create_personauthlink %}
          <li class="nav-item">
            <a class="nav-link{% if pagename == "personauthlink-bulkcreate"%} active{%endif%}" href='{% url "membership:personauthlink-bulkcreate" %}'>Create auth links</a>
          </li>
        {% endif %}
        {% if perms.membership.view_tsclass %}
          <li class="nav-item">
            <a class="nav-link{% if pagename == "tsclass" %} active{%endif%}" href='{% url "membership:class-list" %}'>Classes</a>
          </li>
        {% endif %}
        {% if perms.gate.signin_app %}
          <li class="nav-item">
            <a class="nav-link{% if pagename == "signin" %} active{%endif%}" href='{% url "gate:index" %}'>Gate&amp;Books</a>
          </li>
        {% endif %}
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href='{% url "admin:index" %}'>Django Admin</a>
          </li>
        {% endif %}
        {% if perms.gate.signin_app or user.is_staff %}
        {%comment%}There are certainly other reasons one might want the docs, but this probably gets most{%endcomment%}
        <li class="nav-item">
          <a class="nav-link" href='https://wikis.mit.edu/confluence/display/techsquares/SquaresDB'>Docs</a>
        </li>
        {% endif %}
        </ul>
      </div><div>

        {% if user.is_authenticated %}
        <ul class='nav nav-pills justify-content-end curuser'>
          <li class='navbar-text dropdown'>
            <span class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Welcome,
              {% if user.first_name and user.last_name %}
                {{user.first_name}} {{user.last_name}} &lt;<span class='username'>{{user.username}}</span>&gt;
              {% else %}
                <span class='username'>{{user.username}}</span>
              {% endif %}
            </span>
            <div class='dropdown-menu dropdown-menu-end'>
              <p>Connected providers:</p>
              <ul>
              {% for back in backends.associated %}
                <li>provider='{{back.provider}}', uid='{{back.uid}}'</li>
              {% empty %}
                <li>(none)</li>
              {% endfor %}
              </ul>
            </div>
          </li>
          <li class='nav-item'><a class='nav-link' href='{% url "logout" %}'>Logout</a></li>
        </ul>
        {% else %}
        <ul class='nav nav-pills justify-content-end curuser'>
          <li class='navbar-text dropdown'>
            <span class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</span>
            <ul class='dropdown-menu dropdown-menu-end'>
             <li><a class='dropdown-item' href="{% url "login" %}">Password</a></li>
             {% comment %}This list also appears in login.html{% endcomment %}
             <li><a class='dropdown-item' href="{% url "social:begin" "google-oauth2" %}">Google</a></li>
              {%comment%}<li><a class='dropdown-item' href="{% url "social:begin" "saml" %}?idp=testshib">TestShib</a></li>{%endcomment%}
             <li><a class='dropdown-item' href="{% url "social:begin" "saml" %}?idp=mit">MIT</a></li>
             <li><a class='dropdown-item' href="{% url "social:begin" "saml" %}?idp=tscollab">Touchstone Collab</a></li>
            </ul>
          </li>
        </div>
        {% endif %}
      </div>
    </nav>

    <div id='content'>
{% block content %}{% endblock %}
    </div>
    <!-- django-bootstrap-static
    -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Local
    <script src="{% static "libs/popper.js/umd/popper.min.js" %}"></script>
    <script src="{% static "libs/bootstrap4/js/bootstrap.min.js" %}"></script>
    -->
    <!-- Remote
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    -->
  </body>
</html>
