{% extends "base.html" %}

{% block title %}Profile: {{person.name}}{% endblock %}

{% block content %}

<h2>Profile: {{person.name}}</h2>

<p>Note: Records before 2022 are incomplete.</p>

<table class='pretty'>
<tr>
    <th>Email</th>
    <td>{{person.email}}</td>
</tr>
<tr>
    <th>Highest level</th>
    <td>{{person.level}}</td>
</tr>
<tr>
    <th>Attendance frequency</th>
    <td>{{person.frequency}}</td>
</tr>
<tr>
    <th>Membership status</th>
    <td>{{person.status.full_str}}</td>
</tr>
<tr>
    <th>Member since</th>
    <td>{{person.join_date|default:"unknown"}}</td>
</tr>
<tr>
    <th>MIT affiliation</th>
    <td>{{person.mit_affil.full_str}}</td>
</tr>
<tr>
    <th>Graduation year (from MIT)</th>
    <td>{{person.grad_year}}</td>
</tr>
<tr>
    <th>Membership fee category<br>(full rate, student/discounted, MIT student)</th>
    <td>{{person.fee_cat}}</td>
</tr>
<tr>
    <th>Last marked correct</th>
    <td>{{person.last_marked_correct}}</td>
</tr>
<tr>
    <th>Classes taken</th>
    <td>
        <ul>
        {% for cls in person.tsclassmember_set.all %}
          <li><a href='{% url "membership:class-detail" cls.clas.pk %}'>{{cls.clas}}</a></li>
        {% empty %}
          <li>No classes taken</li>
        {% endfor %}
        </ul>
    </td>
</tr>
<tr>
    <th>Class coordinator</th>
    <td>
        <ul>
        {% for cls in person.class_coord.all %}
          <li><a href='{% url "membership:class-detail" cls.pk %}'>{{cls}}</a></li>
        {% empty %}
          <li>Never class coordinator</li>
        {% endfor %}
        </ul>
    </td>
</tr>
<tr>
    <th>Class assistant</th>
    <td>
        <ul>
        {% for cls in person.tsclassassist_set.all %}
          <li><a href='{% url "membership:class-detail" cls.clas.pk %}'>{{cls.clas}}</a></li>
        {% empty %}
          <li>Never class assistant</li>
        {% endfor %}
        </ul>
    </td>
</tr>
</table>

{% endblock %}
