{% extends "base.html" %}

{% block title %}Mail merge{% endblock %}

{% block content %}

<h2>Mail merge</h2>

{% if msg %}
<p>{{msg}}</p>
{% endif %}

{% if people %}
<p>People:</p>
<ol>
    {% for person in people %}<li>{{person}}</li>
    {%endfor%}
</ol>
{% endif %}

<form enctype="multipart/form-data" method="post" action="{% url "membership:personauthlink-bulkcreate" %}">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type='submit' value='Create and email' />
</form>

{% endblock %}
