{% extends "base.html" %}

{% block title %}Edit Profile: {{person.name}}{% endblock %}

{% block content %}

<h2>Edit Profile: {{person.name}}</h2>

{% if msg %}
<p>{{msg}}</p>
{% endif %}

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
<table class='pretty' style='max-width: 60em;'>
{{ form.as_table }}
<tr><th>Last marked correct</th><td>{{person.last_marked_correct|default:"never"}}</td></tr>

<tr><td colspan="2"><p></p></td></tr>
<tr><th colspan="2">Additional information</th></tr>
<tr><td colspan="2">
    <p>To make corrections to the following information, please email {{"squares-db-request@mit.edu"|urlize}}. Records before 2022 (member since, grad year, classes coordinated or assisted) are known to be incomplete, and filling in missing information is not currently a priority.</p>
</td></tr>
<tr>
    <th>Membership status</th>
    <td>{{person.status.full_str}}</td>
</tr>
<tr>
    <th>Member since</th>
    <td>{{person.join_date|default:"unknown"}}</td>
</tr>
<tr>
    <th>MIT affiliation</th>
    <td>{{person.mit_affil.full_str}}</td>
</tr>
<tr>
    <th>MIT graduation year<br>(expected or actual)</th>
    <td>{{person.grad_year|default:"unknown"}}</td>
</tr>
<tr>
    <th>Fee category</th>
    <td>
        <strong>{{person.fee_cat}}</strong>
        <br>
        <p>Tech Squares charges three kinds of admissions fees:</p>
        <ul>
            <li>MIT students generally get in free</li>
            <li>We have a reduced rate for non-MIT students and those needing financial aid</li>
            <li>Others get charged our full rate</li>
        </ul>
        <p>If you need financial aid, discuss your circumstances with the Treasurer or Vice Treasurer.</p>
    </td>
</tr>
<tr>
    <th>Classes taken</th>
    <td>
        <ul>
        {% for cls in person.tsclassmember_set.all %}
          <li>{{cls.clas}}</li>
        {% empty %}
          <li>No classes taken</li>
        {% endfor %}
        </ul>
    </td>
</tr>
<tr>
    <th>Class coordinator</th>
    <td>
        <ul>
        {% for cls in person.tsclass_set.all %}
          <li>{{cls.clas}}</li>
        {% empty %}
          <li>Never class coordinator</li>
        {% endfor %}
        </ul>
    </td>
</tr>
<tr>
    <th>Class assistant</th>
    <td>
        <ul>
        {% for cls in person.tsclassassist_set.all %}
          <li>{{cls.clas}}</li>
        {% empty %}
          <li>Never class assistant</li>
        {% endfor %}
        </ul>
    </td>
</tr>
</table>
<input type='submit' value='Update' />
</form>

{% endblock %}
